.HomeContainer{
    width: 85vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
 
}
@media all and (max-width:600px) {
    .HomeContainer{
        width: 80vw;
        font-size: smaller;
    }
    .day{
        width: 100%;
    }
    .searchInput{
        width: 30%;
    }
}
.search{
    width: fit-content;
    height: fit-content;
    display: block;
}
.athocomplete{
  overflow: scroll;
   width: 200px;
   height: 150px;

    overflow: scroll;
}
.searcContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.athocomplete::-webkit-scrollbar {
    display: none;
  }
  .option{
      width: inherit;
      height: 30px;
      border-width: 0px 1px 1px 1px;
      opacity: 0.9;
      border-bottom: solid 1px red;
      border-radius: 10%;
  }
  .option:hover{
      background-color: #1597E5;
  }
.day{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.weatherForcast{
    width: 75vw;
    height: 60vh;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.weatherForcast::-webkit-scrollbar {
    display: none;
  }
.searchButton{
    width: 60px;
    height: 36px;
    border-radius: 15%;
    color: white;
    border: none;
}
.searchButton:hover{
    color: red;    
}
.searchInput{
    width: 200px;
    font-size: 1rem               ;
    font-family: IBM Plex Sans, sans-seri;
    font-weight: 400;
    line-height: 1.4375em;
    background: rgb(243, 246, 249);
    border: 1px solid #e5e8ec;
    border-radius:  10px;
    padding: 6px 10px;
    color: #20262d;
    transition: width 300ms ease;
}
.searchInput:hover{
     border-color: "#e5e8ec"; 
     background-color: #dfeeff;
     
}
.searchInput:focus{
    outline: none;
    width: 220px;
    transition: 200ms ease-out;
}
.city{
    cursor: grab;
}